.nav-box .nav-list:nth-child(1){
    background: #61697C;
}
.nav-box .nav-list:nth-child(5){
    position: relative;
    background: #EA7D9A;
}
.main-box{
    height: 450px;
}
.main-content {
    height: 375px;
    background: #ABDEF3;
}
.main-box .main-top .main-top-text2{
    color: #64B0CA;
}
.main-box .main-nav{
    background: #429CBE;
}
.main-con-left,.main-con-center{
    width: 33.3%;
    border-right:1px solid #6ABFDE;
}
.main-con-list input:focus{
    outline: 2px solid #429CBE;
}
.main-con-list select:focus{
    outline: 2px solid #429CBE;
}
.main-con-list textarea:focus{
    outline: 2px solid #429CBE;
}
.main-con-left{
    margin-left: 20px;
    width: 30%;
}
.main-con-left .main-cl-lists h3,.main-con-center .main-con-lists h3,.main-con-right .main-cl-lists h3{
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
.main-con-right{
    padding: 0;
    height: 265px;
    margin-top: 18px;
}
.main-con-list textarea{
    width: 118px;
    height: 80px;
}
.main-con-right .main-con-list:nth-child(2){
    margin-top: 0;
}
.main-listtext-ling{
    vertical-align: top;
}