body,p,input,ul,ol,dl,dd,ol,h1,h2,h3,h4,h5,h6
{margin:0;padding:0;list-style:none;font-weight:normal;}
a{color:#333;}
img{border:0;padding: 0;}
body{
    font:12px "tahoma",'Microsoft YaHei';
}
body{
    background: #E8E8EA;
}
table{
    margin: 0;
    padding: 0;
    border-spacing:0;
}
/*top 开始*/
.top-box{
    width: 1024px;
    height: 53px;
    background: #fff;
    margin:0 auto;
    color: #2E2E2E;
    font-size: 18px;
    text-align: center;
    line-height: 53px;
}
.top-box .top-left{
    float: left;
    text-indent: 10px;
}
.top-box .top-right{
    float: right;
    margin-right: 10px;
}
.top-box .top-right a{
    text-decoration: none;
}
.top-box .top-right span{
    color: #EC7E9B;
}
/*top 结束*/
/*nav 开始*/
.nav-box{
    width: 1024px;
    height: 100px;
    margin: 0 auto;
    background: #61697C;
    text-align: center;
    color: #ffffff;
}
.nav-box .nav-list{
    width: 20%;
    height: 80px;
    padding: 10px 0;
    float:left;
    font-size: 18px;
}
.nav-box .nav-list:nth-child(1){
    position: relative;
    background: #EA7D9A;
}
.nav-down{
    position: absolute;
    top:100px;
    left: 42%;
    text-align: center;
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-top:12px solid #EA7D9A;
}
a{
    text-decoration: none;
}
.nav-text{
    color: #fff;
}
/*nav 结束*/
/*main 开始*/
.main-box{
    width: 1024px;
    margin: 0 auto;
    /*height: 450px;*/
    background: #ffffff;
    margin-top: 24px;
}
.main-box .main-top{
    display: block;
    height: 40px;
    margin-left: 15px;
}
.main-box .main-top img{
    vertical-align: top;
}
.main-box .main-top .main-top-text1{
    font-size: 23px;
    color:#444444;
    line-height: 40px;
}
.main-box .main-top .main-top-text2{
    font-size: 16px;
    color:#419BBD;
    line-height: 40px;
    margin-left: 15px;
}
.main-box .main-nav{
    height: 25px;
    width: 100%;
    background: #419BBD;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
}
.main-box .main-nav .main-nav-left{
    margin-left: 20px;
    float: left;
}
.main-box .main-nav .main-nav-left img{
    vertical-align: top;
}
.main-box .main-nav .main-nav-left .main-nav-text{
    margin-left: 15px;
}
.main-box .main-nav .main-nav-right{
    float: right;
    margin-right: 18px;
}
.main-box .main-nav .main-nav-right .kuai{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #fff;
    margin-right: 10px;
}
/*main 结束*/
/*bottom 开始*/
.bottom-box{
    color:#989898;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
/*bottom 结束*/
.btn-list{
    float: left!important;
}